$white-clr: #ffffff;
$purple-clr: #9534d2;
$grey-clr: #637083;
$black-clr: #141c24;
$border-clr: #ced2da;

$font-size-title: 24px;
$font-size-nav: 16px;
$font-size-card-title: 20px;
$font-size-card-type: 14px;
$font-size-card-platform: 14px;

$button-border-radius: 15px;

$font-weight-xl: 700;
$font-weight-l: 500;
$font-weight-m: 600;
$font-weight-s: 400;

$font-family-base: 'Inter', serif;
$font-family-second: 'Roboto', serif;
